<<<<<<< HEAD
<h1>Welcome nubs!</h1>
<%= button_to "Log Out", destroy_user_session_path, :method => :delete%>
=======
<h1>WELCOME! THIS IS A PAGE AUTHENTICATED USER LANDS ON</h1>
>>>>>>> 502a3f72d0460c24981556e7719042dd5e721050
